html {
	height: 100vh;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	color: #ECECEC;
	font-size: 1.5vh;
}

body {
	/* Override extension-specific user agent style */
	font-size: inherit;
}

pre {
	font-family: monospace;
	white-space: pre;
	margin: 0;
}
